First, Run this code to check the Python executable path,Python version and Installed packages location

'''
import sys
import os

print("Python executable path:", sys.executable)
print("Python version:", sys.version)
print("Installed packages location:", os.__file__)

'''
Second make sure you have the following Setup & requirements
pandas
numpy
scikit-learn
matplotlib
seaborn
mlxtend
sqlite3    # builtin, don't add to pip; included for clarity
